.anvil-spinner {
    /* Change background */
    background-color: black;
    min-height: 110%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;

    /* Remove shadow */
    border-radius: 0px;
    box-shadow: none;

    /* Set spinner to be in the original position */
    .anvil-spinner-svg {
        height: var(--anvil-spinner-size,70px);
        width: var(--anvil-spinner-size,70px);
        left: calc(50% - var(--anvil-spinner-size, 70px)/2);
        top: calc(33% - var(--anvil-spinner-size, 70px)/2);
        position: absolute;
    }
}

/* Chrome / Google autofill */
.anvil-role-login-field input:-webkit-autofill,
.anvil-role-login-field input:-webkit-autofill:hover,
.anvil-role-login-field input:-webkit-autofill:focus,
.anvil-role-login-field input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    caret-color: white !important;

    -webkit-box-shadow: 0 0 0 1000px #1f1f1f inset !important;
    box-shadow: 0 0 0 1000px #1f1f1f inset !important;

    border-radius: inherit;
    transition: background-color 999999s ease-out 0s;
}



/* =========================================================
CUSTOM JM - 1 rôle ajoutés pour les M3 TextBox components ci-dessous (et dans menu IDE   palette de couleur > roles)
m3-tb-compact           TextBox M3 plus compacte, sans trait
========================================================= */

.anvil-role-m3-tb-compact {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* On ne force PAS la hauteur du conteneur M3 */
.anvil-role-m3-tb-compact.anvil-m3-textbox,
.anvil-role-m3-tb-compact .anvil-m3-textbox {
    overflow: visible !important;
}

/* On compacte seulement le texte interne */
.anvil-role-m3-tb-compact input {
    font-size: 14px !important;
    line-height: 18px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

